<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Occupation</title>
    <link rel="stylesheet" href="../static/css/educationOccupation.css">
</head>

<body>
    <div class="container">
        <h1>Occupation</h1>

        <!--Form for collecting occupation and job information-->
        <form id="occupationForm" method="POST">
            <div class="form-group">
                <label for="job">Job</label>
                <input type="text" id="job" name="Job" placeholder="Enter job title">
            </div>

            <div class="form-group">
                <label for="salary">Salary</label>
                <input type="number" id="salary" name="Salary" placeholder="Enter salary">
            </div>

            <div class="button-group">
                <input class="submit-form" type="submit">Save/Submit</button>
                <button type="button" onclick="goToNext()">Next</button>
            </div>
        </form>
    </div>
    <script>
        function goToNext() {
            // Redirect to the next form or section
            window.location.href = '/physicalFeatures';
        }
    </script>
</body>

</html>