<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/filtr.css">
  
  <!--Scripting for liking Users-->
  <script>
    async function handleLike(button) {
    const likedUserID = button.getAttribute('data-user-id');
    const response = await fetch('/like', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ likedUserID })
    });
    const result = await response.json();
    alert(result.message);
    if (result.match) {
      alert('Match! Contact details: ' + result.phoneNumbers);
    }
    loadNextProfile();
    }

    async function handlePass() {
      loadNextProfile();
    }

    function loadNextProfile() {
      // Function to dynamically load the next profile
      // For now, it simply reloads the page to simulate fetching the next profile
      window.location.reload();
    }
  </script>
</head>
<div class=Filtr>

  <body>
    <header>
      <h1 class="logo">Filtr</h1>
      <div class="top-buttons">
        <button class="top-button" onclick="window.location.href='/messages'">Messages</button>
        <button class="top-button" onclick="window.location.href='/filters'">Filters</button>
      </div>
    </header>
  
    <main>
      
      <!--Swipe area users displayed here-->
      <div class="swipe-area">
        <div class="profile-card">
          <img id="profile-image" src="{{ profile.picture_url }}" alt="User Profile Picture">
          <div id="profile-text">{{ profile.prompt }}</div>
        </div>
      </div>
  
      <div class="swipe-buttons">
        <button class="swipe-button dislike" onclick="handlePass()">PASS</button>
        <button class="swipe-button like" data-user-id="{{ profile.user_id }}" onclick="handleLike(this)">SMASH</button>
      </div>
    </main>
  </body>

  <!--Footer Nav bar -->
<footer>
  <nav>
    <ul class="footer-nav">
      <li><a href="/underConstruction">Likes</a></li>
      <li><a href="/filtr">Filtr</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/settings">Settings</a></li>
    </ul>
  </nav>
</footer>

</html>
