<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<div class=page>
    <header>
        FILTR
    </header>

    <body>
        <form method="POST">
            <div class="login">
                <h1>Login</h1>
                <!-- <label for="uname">Username:</label> -->
                <input type="text" id="uname" name="Email" placeholder="Username" value="" required>
                <!-- <label for="pword">Password:</label> -->
                <input type="password" id="pword" name="Password" placeholder="Password" value="" required>
                <a id="forgotpass" href="">Forgot Password?</a>
                <br>
                <input type="submit"><!--Log in--></input>
                <br>
                <span id="DHAA">Dont have an account?</span>
                <br>
                <a id="createacc" href="/signup">Create Account</a>
            </div>
        </form>
    </body>
</div>

</html>