<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/profile.css">
</head>
<body>
    <div class = "container">
        <div class="imgButton">
            <button>
                <img src="../images/profilepic.png" alt="profilepic">

            </button>
        </div>

        <p>Filtr: <p id="accountMembershipStatus"></p></p> 
        <div class="buttons">
            <button>Buy Premium</button>
            <button>Buy Filters</button>
            <button>Day Pass</button>
            <button>Boost</button>
        </div>
    </div>
    

</body>
<footer>
    <nav>
        <ul class="footer-nav">
            <li><a href="page1.html">Likes</a></li>
            <li><a href="/filtr">Filtr</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/settings">Settings</a></li>
        </ul>
    </nav>
  </footer>
<html>

