<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/profile.css">
</head>
<body>
    <div class="imgButton">
        <button>
            <img src="/project/images/profilepic.png" alt="profilepic">

        </button>
    </div>

    <p>Filtr: <p id="accountMembershipStatus"></p></p> 
    <div class="buttons">
        <button>Buy Premium</button>
        <button>Buy Filters</button>
        <button>Day Pass</button>
        <button>Boost</button>
    </div>

</body>
<footer>
    <nav>
        <ul class="footer-nav">
            <li><a href="page1.html">Likes</a></li>
            <li><a href="project/GUIdesign/filtr.html">Filtr</a></li>
            <li><a href="project/GUIdesign/profile.html">Profile</a></li>
        </ul>
    </nav>
</footer>
<html>

