<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/settings.css">
    <script src="../static/js/settings.js"></script>
    <title>Settings</title>
</head>

<body>
    <header>
        <h1>Settings</h1>
    </header>
    <hr>

    <div class="settings-container">
        <ul>
            <li><a href="accountSettings.html">Account Settings</a></li>
            <li><a href="privacy.html">Privacy Policy</a></li>
            <li><a href="terms.html">Terms of Service</a></li>
        </ul>
        <form method="POST">
            <ul>
                <li><input type="submit" id="logout" value="Logout"></li>
                <li><input type="submit" id="delacc" onclick="areYouSure()" value="Delete Account"></li>
            </ul>
        </form>
    </div>
</body>

</html>