<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/settings.css">
    <script src="../static/js/settings.js"></script>
    <title>Settings</title>
</head>

<body>
    <header>
        <h1>Settings</h1>
    </header>
    <hr>

    <div class="settings-container">
        
        <ul>
            <!--App info-->
            <li><a href="/underConstruction">Privacy Policy</a></li>
            <li><a href="/underConstruction">Terms of Service</a></li>
            <li><a href="/accountSettings">Account Settings</a></li>
            
            <!--Logout and delete buttons-->
            <form method="POST">
                <li><input type="submit" name="action" id="logout" value="Logout"></input></li>
                <li><input type="submit" name="action" id="delacc" onclick="areYouSure()"
                        value="Delete Account"></input></li>
            </form>
        </ul>
    </div>
</body>
<footer>
    <!-- Fotter Nav bar-->
    <nav>
        <ul class="footer-nav">
            <li><a href="/underConstruction">Likes</a></li>
            <li><a href="/filtr">Filtr</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/settings">Settings</a></li>
        </ul>
    </nav>
</footer>

</html>