* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

a {
    color: #2E294E;
    text-decoration: none;
    text-align: left;
    display: block;
}

a:hover {

    color: #8661C1;
}

body {
    max-width: 400px;
    /* Keep this to limit the width */
    display: grid;
    /* Use flexbox for centering */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    margin: auto;
    min-height: 100vh;
    /* Full height of the viewport */

    color: white;
}

hr {
    margin-bottom: 30px;
}

header {
    font-size: 1.25rem;
    color: #BE97C6;
    margin-bottom: 20px;
    text-shadow: 2px 4px #2E294E;
}

/*gives illusion of phone display*/
.settings-container {
    height: 100%;
    text-align: center;
    padding: 40px;
    max-width: 400px;
    background-color: #4B5267;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    /* Optional shadow for better visibility */
}

.settings-container ul {
    list-style-type: none;
    padding: 0;
}

.settings-container li {
    margin-bottom: 20px;
}

.settings-container label {
    display: block;
    margin-bottom: 5px;
}

.settings-container input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid #2E294E;
    font-size: 16px;
}

.settings-container input[type="submit"] {
    background-color: #EFBCD5;
    color: #2E294E;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.settings-container input[type="submit"]:hover {
    background-color: #BE97C6;
}