* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.page {
    min-height: 100vh;
    text-align: center;
    padding: 40px;
    width: 400px;
    background-color: #4B5267;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    /* Optional shadow for better visibility */

}

header {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #BE97C6;
    /* Light pinkish color */
    margin-top: 20px;
    margin-bottom: 40px;
    text-shadow: 1px 3px #2E294E;
    /* Dark shadow for depth */
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body div h1 {
    font-size: 25px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
}

.login {
    font-size: 16px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.login input,
.login a,
.login button {
    border-radius: 20px;
}

#forgotpass {
    font-size: 15px;
}

/*Dont have an account?*/
#DHAA {
    font-size: 15px;
}

#createacc {
    font-size: 13px;
}

.login input {
    padding: 10px;
    border: 1.5px solid grey;

}

.login #button {
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: #8661C1;
    border: none;
    box-shadow: #2E294E 1px 3px;
    ;
}

.login label,
.login input,
.login a,
.login button {
    margin-bottom: 10px;
    /* Adds 15px space between elements */
}

.login a {
    color: #EFBCD5;
    text-decoration: none;
}

.login a:hover {

    color: #8661C1;
}