* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
    color: #BE97C6;
    text-shadow: 2px 4px #2E294E;
}

body {
    color: white;
    justify-content: center;
    align-items: center;
    background-color: #4B5267;

}

body div h1 {
    font-size: 25px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
}

.login {
    font-size: 16px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.login input,
.login a,
.login button {
    border-radius: 20px;
}

#forgotpass {
    font-size: 15px;
}

/*Dont have an account?*/
#DHAA {
    font-size: 15px;
}

#createacc {
    font-size: 13px;
}

.login input {
    padding: 10px;
    border: 3px solid #2E294E;
}

.login button {
    padding: 10px;
    background-color: #EFBCD5;
    font-weight: bold;
    color: #2E294E;

}

.login label,
.login input,
.login a,
.login button {
    margin-bottom: 10px;
    /* Adds 15px space between elements */
}

.login a {
    color: #EFBCD5;
    text-decoration: none;
}

.login a:hover {

    color: #8661C1;
}