* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #BE97C6;
    /* Light pinkish color */
    margin-top: 20px;
    margin-bottom: 40px;
    text-shadow: 1px 3px #2E294E;
    /* Dark shadow for depth */
}

/* Body and Main Styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    background-color: #efeded;
}

header {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    flex-grow: 1;
}

.container {
    width: 400px;
    /* Set the container width to 400px */
    background-color: #4B5267;
    /* Set the background color to #4B5267 */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    /* Adjust text color for better contrast */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

.matches-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    /* Limit width to 400px */
    padding: 20px;
    background-color: #fffefe;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.match {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.match img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}

.match p {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.footer-nav {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.footer-nav li {
    display: inline;
}

.footer-nav a {
    display: inline-block;
    padding: 12px;
    color: white;
    background-color: #BE97C6;
    /* Match link color with footer */
    border: 2px solid #EFBCD5;
    /* Light border for links */
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.footer-nav a:hover {
    background-color: #8661C1;
    /* Change link color on hover */
}