* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

a {
    color: #2E294E;
    text-decoration: none;
    text-align: left;
    display: block;
}

a:hover {
    color: #BE97C6;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}

/* Form Container */
.container {
    text-align: center;
    padding: 40px;
    max-width: 400px;
    background-color: #4B5267;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* Form Header */
.container h1 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 20px;
}

/* Labels */
.container label {
    display: block;
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 5px;
    text-align: left;
}

/* Input Fields */
.container input[type="text"],
.container input[type="number"] {
    background-color: #fff;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
    color: grey;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.container input[type="text"]:focus,
.container input[type="number"]:focus {
    outline: none;
    border-color: #EFBCD5;
    color: #2E294E;
    /* Changes text color on focus */
}

/* Button Styling */
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    width: 48%;
    padding: 10px;
    background-color: #EFBCD5;
    color: #2E294E;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    margin: 10px 0;
}

button:hover {
    background-color: #BE97C6;
}