* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.full-container {
    background-color: #4B5267;
    min-height: 100vh;
}

body {
    background-color: white;
    height: 100vh;
    display: grid;
    justify-items: center;
    margin: 0;
    text-align: center;
}

body p {
    color: white;
    font-size: 20px;
}

.imgButton {
    padding-top: 30px;

}

.imgButton button {
    padding: 40px;
}

.wrapper {
    position: relative;
    max-width: 350px;
    height: 87vh;
}

.settings-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.settings-button a {
    background-color: #EFBCD5;
    /* Pink color */
    color: black;
    border: none;
    border-radius: 20px;
    /* Rounded corners */
    padding: 8px 16px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.settings-button a:hover {
    background-color: #2E294E;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.buttons>button {
    width: 150px;
    padding: 12px;
    color: white;
    background-color: #BE97C6;
    /* Match link color with footer */
    border: 2px solid #EFBCD5;
    /* Light border for links */
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.buttons>button:hover {
    background-color: #8661c1;
}

body hr {
    color: #2E294E;
    height: 1px;
    width: 350px;
}

.footer-nav {
    list-style-type: none;
    justify-content: center;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Centers the buttons horizontally */
    gap: 15px;
    /* Space between buttons */

}

.footer-nav li {
    display: inline;
    /* Makes the list items horizontal */
}

.footer-nav a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #EFBCD5;
    /* Button color */
    color: black;
    border-radius: 5px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border-radius: 50px;

}

.footer-nav a:hover {
    background-color: #8661c1
        /* Darker color on hover */
}

#profilePic {
    max-width: 150px;
}