* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    max-width: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 100vh;
    background-color: white;
    color: white;
}

hr {
    margin-bottom: 30px;
    margin-top: 15px;
}

header {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
}

.settings-container {
    width: 100%;
    min-width: 400px;
    padding: 50px;
    height: 100vh;
    background-color: #4B5267;
    border-radius: 15px;
    text-align: center;
}

.settings-container ul {
    list-style-type: none;
    padding: 0;
}

.settings-container li {
    margin-bottom: 20px;
}

.settings-container a,
.settings-container input {
    display: inline-block;
    width: 100%;
    padding: 12px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.settings-container a {
    background-color: #4B5267;
    color: #EFBCD5;
    border: 2px solid #EFBCD5;
}

.settings-container a:hover {
    background-color: #8661C1;
    color: #FFFFFF;
}

.settings-container input {
    background-color: #EFBCD5;
    color: #2E294E;
    border: none;
    cursor: pointer;
}

.settings-container input:hover {
    background-color: #BE97C6;
}

.nav-bar {
    margin-top: 18vh;
}

.footer-nav {
    list-style-type: none;
    justify-content: center;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Centers the buttons horizontally */
    gap: 10px;
    /* Space between buttons */

}

.footer-nav li {
    display: inline;
    /* Makes the list items horizontal */
}

.footer-nav a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #EFBCD5;
    /* Button color */
    color: black;
    border-radius: 5px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border-radius: 50px;

}

.footer-nav a:hover {
    background-color: #8661c1
        /* Darker color on hover */
}