body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4B5267;
}

* {
    box-sizing: border-box;
}

header {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-left: 16px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #BE97C6;
    text-shadow: 2px 4px #2E294E;
}

div h1 {
    color: white;
    letter-spacing: 2px;
}

.container {
    padding: 16px;
    background-color: #4B5267;
}

form div label {
    color: white;
    font-size: 16px;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 30px;
    letter-spacing: 2px;
    background-color: rgba(255, 255, 255, 0.6);
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

#registerbtn {
    padding: 10px;
    background-color: #EFBCD5;
    font-weight: bold;
    color: #2E294E;
    border-radius: 20px;

}

.registerbtn:hover {
    opacity: 1;
}

a {
    color: dodgerblue;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}