* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/*old code*/
/*header {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #BE97C6;
    text-shadow: 2px 4px #2E294E;
}*/

body {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Full height to center vertically */
    color: white;
    justify-content: center;
    background-color: white;

}

body form div h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #BE97C6;
    font-weight: bold;
    text-shadow: 2px 4px #2E294E;
}

/*creates "mobile" looking display*/
.container {
    max-width: 350px;
    padding: 25px;
    background-color: #333A50;
    border-radius: 15px;
    text-align: center;
    /*padding: 16px;
    background-color: #4B5267;
    max-width: 400px;
    text-align: center;*/
}

.text-box {
    border-radius: 20px;
}
/*form input styles*/
form input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border: 3px solid #2E294E;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
/*submit button*/
body form a {
    color: #EFBCD5;
    text-decoration: none;
}

body form a:hover {
    color: #8661C1;
}

.registerbtn {
    background-color: #EFBCD5;
    font-weight: bold;
    color: #2E294E;
    padding: 16px 20px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    width: 100px;
    border-radius: 20px;
    display: inline-block;
}

.registerbtn:hover {
    opacity: 1;
}

a {
    color: dodgerblue;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}